@import '//at.alicdn.com/t/font_608463_oxte0eor9p6z85mi.css'
@import 'http://cdn.w3schools.wang/w3.css'

html
  background-color #fefefe

.img-responsive
  max-width: 100%

.relative
  position: relative

// fade transition
.fade-enter-active
.fade-leave-active
  transition: opacity .5s
  transition: all .5s

.fade-enter
.fade-leave-to
  opacity: 0
  transform: translateY(30px)

.fade-move
  transition: transform 1s

// slide-fade transition
.slide-fade-enter-active {
  transition: all 0.5s
}
.slide-fade-leave-active {
  transition: all 0.5s
}
.slide-fade-enter, .slide-fade-leave-to{
  transform: translateX(10px);
  opacity: 0;
}

.pull-right
  float: right !important

.pull-left
  float: left !important

a
  text-decoration none

.top-round
  border-radius 4px 4px 0px 0px !important

.w3-container
  background-color: #fff

html
  min-height 100%
  color #555

.text-right
  text-align right

.text-left
  text-align left
